<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846744294943-mtch6pf3pel1othmvjcgk54frc40if6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846744294943-mtch6pf3pel1othmvjcgk54frc40if6d</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Jrn4TDKaij1RCZc2CxVgIJPwCenjPqM</string>
	<key>GCM_SENDER_ID</key>
	<string>846744294943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-2addf</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-2addf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846744294943:ios:ec8140c2dd19b20251672a</string>
</dict>
</plist>